[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chromadb = "*"
langchain = "*"
openai = "*"
beautifulsoup4 = "*"
lxml = "*"
unstructured = "*"
tiktoken = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.6"
